NeuronRain Licensing is explained in FAQ: http://neuronrain-documentation.readthedocs.io/en/latest/

NeuronRain Depends on Following Opensource C,Python,Java and C++ packages - Copyright/Copyleft licenses apply per respective codebases below:
1. Boost C++ and Python libraries (1.64.0) 
2. g++
3. Python NLTK
4. NetworkX 2.1
5. Matplotlib
6. Scrapy
7. R-Python (rpy2)
8. Maitreya's Dreams 7+ (for ephemeris and text client)
9. Hadoop
10. Spark 2.3.x+ and pyspark client
11. Hive and Hive Client(thrift or pyhs2)
12. Cassandra and Cassandra Cluster client
13. HBase and HBase client (happybase)
14. Python-Linkedin 
15. Python Twitter
16. Biopython
17. ClustalOmega
18. BeautifulSoup
19. Google Protocol Buffer libraries 3.5 / libprotobuf15
20. Pig
21. SVMLight (there is also a NeuronRain AsFer Support Vector Machines implementation alternative) 
22. MySQLdb
23. Python Injector
24. R
25. Python Tornado
26. Linux Kernel Mainline 32 bit (4.1.5) - for VIRGO
27. MongoDB and pymongo
28. Cython
29. SATURN Program Analyzer
30. MemCached and Python-memcache (https://github.com/linsomniac/python-memcached/)
31. Bidict
32. Java 1.8
33. Python Jellyfish
34. Python Enchant
35. Python ystockquote
36. Python geonames
37. Python zlib
38. Neo4j Graph Database
39. py2neo python client for Neo4j
40. Python OAuth2
41. Redis and Python Redis
42. Passlib SHA256 encryption library
43. ZeroMQ
44. Kafka and Confluent Kafka Python client
45. Spark 2.3.0 + Hadoop 2.7 for Java Spark Streaming
46. Jsoup Java HTML parser
47. PILlow Python Imaging Library
48. ConceptNet 5.6
49. NumPy
50. SciPy 1.1.0
51. Linux Kernel Mainline 64 bit (4.13.3) - for VIRGO64
52. CvxPy
53. SymPy
54. Python transaction 2.1.2
55. OpenSSL development libraries for C++
56. DictDiffer - https://github.com/inveniosoftware/dictdiffer
57. Python 2.7.x and 3.4
58. Facebook SDK for Python 3.4
59. Empath (https://arxiv.org/pdf/1602.06979.pdf)
60. Scikit-Learn
61. Pandas
62. librosa - Python Audio Library
63. Psutils - Python process utility
64. FlameGraph - https://github.com/brendangregg/FlameGraph
65. Valgrind/Callgrind/KCachegrind
66. GraphFrames/GraphX Spark Package - https://graphframes.github.io/
67. Theano
68. Keras (Theano backend)
69. OpenCV 3.4.3 - opencv-python - cv2
70. PyPDF2
71. FTrace (for kernel functions call graphs)
