Asfer Depends on Following Python and C++ packages:
1. Boost C++ libraries 
2. g++
3. Python NLTK
4. NetworkX
5. Matplotlib
6. Scrapy
7. R-Python (rpy2)
8. Maitreya's Dreams 7+ (for ephemeris and text client)
9. Hadoop
10. Spark and pyspark client
11. Hive and Hive Client(thrift or pyhs2)
12. Cassandra and Cassandra Cluster client
13. HBase and HBase client (happybase)
14. Python-Linkedin 
15. Python Twitter
16. Biopython
17. ClustalOmega
18. BeautifulSoup
19. Google Protocol Buffer libraries
20. Pig
21. SVMLight 
22. MySQLdb
23. Python Injector
