NeuronRain Depends on Following Opensource C,Python and C++ packages - Copyright and licenses apply per respective codebases below:
1. Boost C++ and Python libraries
2. g++
3. Python NLTK
4. NetworkX
5. Matplotlib
6. Scrapy
7. R-Python (rpy2)
8. Maitreya's Dreams 7+ (for ephemeris and text client)
9. Hadoop
10. Spark and pyspark client
11. Hive and Hive Client(thrift or pyhs2)
12. Cassandra and Cassandra Cluster client
13. HBase and HBase client (happybase)
14. Python-Linkedin 
15. Python Twitter
16. Biopython
17. ClustalOmega
18. BeautifulSoup
19. Google Protocol Buffer libraries
20. Pig
21. SVMLight 
22. MySQLdb
23. Python Injector
24. R
25. Python Tornado
26. Linux Kernel Mainline (4.1.5)
27. MongoDB
28. Cython
29. SATURN Program Analyzer
30. MemCached and Python-memcache (https://github.com/linsomniac/python-memcached/)
31. Bidict
32. Java 1.8
33. Python Jellyfish
34. Python Enchant
35. Python ystockquote
36. Python geonames
37. Python zlib

